.health-ciences{
  background-color: red;
  color: #FFFFFF
}
.natural-ciences{
  background-color: #FFFFFF;
  color: #000000;
}
.languages-and-codes{
  background-color: grey;
  color: #000000;
}
.math{
  background-color: blue;
  color: #FFFFFF;
}
